@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
    padding: 0;
    display: grid;
}

a {
    text-decoration: none;

}

/*removing spaces between columns*/
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}






.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
                           /* reset the font property */
}




.pattern {
    /*background-image:url(../images/pattern_double_black.png);*/
    background-image:url(../images/1px.png);
    background-repeat: repeat;
    background-attachment:scroll;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0
}

.navbar {
    background: none;
    z-index: 10000;
}

.navbar.non-video {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.navbar.blur {
    background-color: rgba(255,255,255,1);
    -webkit-box-shadow: 0 4px 5px 0 rgba(204,204,204,.5);
    -moz-box-shadow: 0 4px 5px 0 rgba(204,204,204,.5);
    box-shadow: 0 4px 5px 0 rgba(204,204,204,.5);
}

#whiteLink {
    color: #fff;
}

#blackLink {
    color: #555;
}


/*custom fonts*/
@font-face {
    font-family: 'GothamPro-light';
    src: url('../fonts/gotham-light.ttf');
}

@font-face {
    font-family: 'GothaPro-Bold';
    src: url('../fonts/GothaProBol.otf');
}

@font-face {
    font-family: 'RBNo2Light';
    src: url('../fonts/RBNo2Light.otf');
}

@font-face {
    font-family: 'Variane_Script';
    src: url('../fonts/Variane_Script.ttf');
}




img.logo {
    width: 200px;
    margin-right: 50px;
}

img.icon {
    width: 100px;
}


#contactEmail {
    float: none!important;
    padding-top: 20px;
}

.headline {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 2.8em;
    color: #fff;
    /*thing to change*/
    margin-top: 200px;
    /*text-transform: uppercase;*/
}

.headline span {
    color: #4BBDAC;
    font-weight: bold;
}


.sub-headline {
    font-family: "GothamPro-light";
    font-size: 2.4em;
    color: #fff;
}

.sub-headline .style {
    font-family: "Variane_Script";
}

.headline_bold_fragment {
    font-family: "GothaPro-Bold";
}


h3 strong {
    color: #4abdac;
}



/*bouncing down arrow*/

.arrow {
  position: fixed;
  bottom: 100px;
  left: 50%;
  margin-left:-20px;
}

.bounce {
    -webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
.animated{
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;

            animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

    animation-fill-mode:both;
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -ms-animation-duration:2s;
    -o-animation-duration:2s;
    animation-duration:2s;
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}



/*bouncing down arrow*/





/*space between head and headline*/
.top-buffer {
    margin-top:20px;
    height: 50px;
}



.big_slogan_dvider {
    margin: 0 auto;
    position: relative;
    width: 200px;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #ddd;
}

.usp_boxes {
    /*border: 1px solid #aaa;*/
}


.usp_boxes h5 {
    color: #000000;
    letter-spacing: -1px;
    margin: 0 0 10px 0
}

.usp_boxes h6 {
    color: #555;
    /*letter-spacing: -1px;*/
    line-height: 15px;
    margin: 0 0 10px 0
}

.usp_boxes a {
    color: #4BBDAC;
}

.usp_boxes img {
    margin: 15px 0;
    width: 85px;
}

.usp_boxes p {
    color: #3b3a36;
    margin: 0 0 10px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}



/*action button*/
.actionButton {
    width: 300px;
    background-color: #fff;
    margin: 0 auto;
    line-height: 50px;
    font-size: 22px;
    border: 1px solid #4BBDAC;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#buttonContainer a {
    text-decoration: none;
    color: #4BBDAC;
    /*box-sizing: ;*/
}

#buttonContainer a:hover, .actionButton:hover {
    background-color: #4BBDAC;
    color: #fff;
}
/*action button*/



.parallax {
    /* The image used */
    background-image: url("../images/2.jpg");

    /* Set a specific height */
    height: 200px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}






.what_we_done .row {
     position: relative;
     /*max-height: 300px;*/
}



.what_we_done_unit img {
    margin-left: auto;
	margin-right: auto;
	display: block;
    width: 100%;
}



 .overlayBrandName {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #4ABDAC;
}

.overlayBrandName a{
    color: #fff;
}

.overlayBrandName a:hover {
    color: #fff;
}

.what_we_done_unit:hover .overlayBrandName {
  opacity: 1;
}


 .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text hr {
    border: 1px solid #fff;
}


.team_member {
    background: #fff;
    margin: 1rem;
    position: relative;
    min-height: 260px;
}

.team_member {
    /*box-shadow: 2px 2px 2px rgba(0,0,0,0.08), 2px 2px 2px rgba(0,0,0,0.16);*/
    box-shadow: 0 10px 15px rgba(0,0,0,0.25);
    -webkit-transition: box-shadow .5s;
    transition: box-shadow .5s;
}

.team_member .name {
    margin: 10px 0;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}

.team_member_picture:hover .overlay {
  opacity: 0.9;
}



.team_member_picture img {
    width: 100%;
}













/*video*/

.one {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /*margin-bottom: 40px;*/
    position: relative;
}

.two{
    width: 30%;
    height: 300px;
    overflow: hidden;
    border: 15px solid blue;
    position: relative;
}

.video-background { /* class name used in javascript too */
    width: 100%; /* width needs to be set to 100% */
    height: 100%; /* height needs to be set to 100% */
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}




/*footer*/
footer {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 auto;
}

footer .row {
    width: 100%;
}

footer .text-center {
    margin-bottom: 0;

}




/*social media icons*/
.social-icon {
    color: #555;
    font-size: 2em;
}
ul.social-icons {
    margin-top: 10px;
    background-color: #fff;
    list-style: none;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #555;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-facebook:hover {
    background-color: #3d5b99;
    color: #fff;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-twitter:hover {
    background-color: #00aced;
    color: #fff;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-rss:hover {
    background-color: #eb8231;
    color: #fff;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-youtube:hover {
    background-color: #e64a41;
    color: #fff;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-linkedin:hover {
    background-color: #0073a4;
    color: #fff;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-google-plus:hover {
    background-color: #e25714;
    color: #fff;
}


.fa-github {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-github:hover {
    background-color: #32C955;
    color: #fff;
}

















/*type.js blinking cursor effect*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}



















/* Contact form */
#contact{
   padding:10px 0 10px;
 }

 .contact-text{
   margin:45px auto;
 }

 .mail-message-area{
   width:100%;
   padding:0 15px;
 }

input {
    width: 100%;
}
 .mail-message{
   width: 100%;
   background:rgba(255,255,255, 0.8) !important;
   -webkit-transition: all 0.7s;
   -moz-transition: all 0.7s;
   transition: all 0.7s;
   margin:0 auto;
   border-radius: 0;
 }

 .not-visible-message{
   height:0px;
   opacity: 0;
 }

 .visible-message{
   height:auto;
   opacity: 1;
   margin:25px auto 0;
 }

/* Input Styles */

 .form{
   width: 100%;
   padding: 15px;
   background:#f8f8f8;
   border:1px solid rgba(0, 0, 0, 0.075);
   margin-bottom:25px;
   color:#727272 !important;
   font-size:13px;
   -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
 }

 .form:hover{
   border:1px solid #4abdac;
 }

 .form:focus{
   color: white;
   outline: none;
   border:1px solid #4abdac;
 }

 .textarea{
   height: 200px;
   max-height: 200px;
   max-width: 100%;
 }

/* Generic Button Styles */

 .button{
   padding:8px 12px;
   background:#0A5175;
   display: block;
   width:120px;
   margin:10px 0 0px 0;
   border-radius:3px;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
   text-align:center;
   font-size:0.8em;
   box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
   -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
   -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
 }

 .button:hover{
   background:#8BC3A3;
   color:white;
 }

/* Send Button Styles */

 .form-btn{
   width:180px;
   display: block;
   height: auto;
   padding:15px;
   color:#fff;
   background:#8BC3A3;
   border:none;
   border-radius:3px;
   outline: none;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
   margin:auto;
   box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
   -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
   -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
 }

 .form-btn:hover{
   background:#111;
   color: white;
   border:none;
 }

 .form-btn:active{
   opacity: 0.9;
 }
center{
 margin-top:330px;
}
input {
   position: relative;
   z-index: 9999;
}



.contact-right {
    font-size: 25px;
}

.contact-right .right-content {
    margin-top: -190px;
}


.right-content strong {
    color: #4ABDAC;
}



img.big_section_icon {
    width: 100%;
}








.article {
    font-size: 19px;
}


.grey_font {
    color: #555;
}




.blockquote {
    background: url(../images/bg-quote2.png) no-repeat;
    /*border-left: 1px solid #ccc;*/
    color: #a5a4a4;
    font-style:italic;
    font-size: 30px;
    margin: 30px;
    margin-left: 0;
    padding: 30px 30px 30px 50px;
}




.table_technologies tr {
    border: 1px solid #ECEEEF;
}
.table_technologies td {
    border: 1px solid #ECEEEF;
}


.table_technologies ul {
    list-style: none;
}

.table_technologies p {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.table_technologies li::before {
    content: "• ";
    color: #4ABDAC; /* or whatever color you prefer */
}
